---
import Menu from "../components/Menu.jsx";
---

<html>
  <body class="bg-black text-white">
    <h1 class="text-center text-3xl font-bold my-6">
      🍕 Liman Pizza
    </h1>

    <Menu client:load />
  </body>
</html>